
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inter", serif;
}

* section{
    width: 100%;
    height: auto;
    padding: 5rem 6rem;
}

* h2{
    font-size: 2rem;
    font-weight: 600;
}

/* About-us_section */

.about-us-section{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.about-us-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    justify-content: space-between;
    align-items: stretch;
}
.image-container{
    width: 100%;
    height: auto;
}
.image-container img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.about-us-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.title p{
    color: #828282;
    font-size: 1rem;
    font-weight: 300;
}
.description{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.description p{
    font-size: 0.9rem;
    color: #000000;
    line-height: 1.6rem;
}

/* Form_container */
.form-container{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.form-title{
    width: 100%;
    height: auto;
}
.form-title h3{
    font-size: 1.6rem;
    font-weight: 500;
}
.form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.name-input{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: start;
    justify-content: start;
}
.input{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}
label{
    font-size: 0.8rem;
    color: #000000;
}
input{
    width: 100%;
    padding: 1rem 0.6rem;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    outline: none;
}
::placeholder{
    font-size: 0.8rem;
    font-weight: 300;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 1rem 0.6rem;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    outline: none;
}
.submit-container{
    width: 100%;
    height: auto;
}
.submit-container button{
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 8px;
    outline: none;
    border: none;
}